@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$white: #F5F5F5;
$light: #E0C9CB;
$tan: #C3A1A0;
$pink: #D9AAB7;
$rose: #BA7E7E;
$dark: #4E4E4E;

/* center container in the middle */
html .projects{
  display: grid;
  min-height: 100%;
}

body .projects{
  display: grid;
  background: $light;
  font-family: $font, sans-serif;
  text-transform: uppercase;
}

.projects{
  position: relative;
  margin: auto;
  margin-left: 100px;
  margin-top: 100px;
  overflow: hidden;
  width: 520px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, .5);
  border-radius: 10px;
}


.projects p {
  font-size: 0.6em;
  color: $rose;
  letter-spacing: 1px;
}

.projects h1 {
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
}

.projects h2 {
  color: $tan;
  margin-top: -5px;
}

.projects img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $light;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 60%;
  
  top: 10%;
  left: 40%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.projects button {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $rose;
    transition: all .4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: $pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid $light;
  font-size: 0.7em;
  text-align: center;
  &:hover{
    background: $rose;
    color: $white;
    transition: all .4s ease-in-out;
  }
}

.focus{
  background: $rose;
  color: $white;
}

.projects footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  p {
    letter-spacing: 3px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: #7d7d7d;
    }
  }
}
#scrollEffectAccordian .transition,
#scrollEffectAccordian ul li i:before,
#scrollEffectAccordian ul li i:after,
#scrollEffectAccordian p {
  transition: all 0.25s ease-in-out;
}

#scrollEffectAccordian .flipIn,
#scrollEffectAccordian ul li,
#scrollEffectAccordian h1 {
  animation: flipdown 0.5s ease both;
}

#scrollEffectAccordian .no-select,
#scrollEffectAccordian h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html #scrollEffectAccordian {
  width: 100%;
  height: 100%;
  perspective: 900;
  background-color: $light;
  font-family: "Titillium Web", sans-serif;
  color: rgba(48, 69, 92, 0.8);
}

body #scrollEffectAccordian {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  // margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #ff6873 inset;
  background-color: $light;
  max-width: 450px;
  padding: 30px;
}
@media (max-width: 550px) {
  body #scrollEffectAccordian {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

#scrollEffectAccordian h1,
#scrollEffectAccordian h2 {
  color: #ff6873;
}

#scrollEffectAccordian h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

#scrollEffectAccordian h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: $light;
  margin: 0;
  cursor: pointer;
}

#scrollEffectAccordian p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

#scrollEffectAccordian ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#scrollEffectAccordian ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
#scrollEffectAccordian ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
#scrollEffectAccordian ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
#scrollEffectAccordian ul li:nth-of-type(3) {
  animation-delay: 1s;
}
#scrollEffectAccordian ul li:last-of-type {
  padding-bottom: 0;
}
#scrollEffectAccordian ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
#scrollEffectAccordian ul li i:before,
#scrollEffectAccordian ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
#scrollEffectAccordian ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#scrollEffectAccordian ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#scrollEffectAccordian ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#scrollEffectAccordian ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#scrollEffectAccordian ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#scrollEffectAccordian ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
